# MongoDB (default local setup)
MONGODB_URI=mongodb+srv://commonmail511:BI98nb9gfn987yDX@cluster0.1s50bav.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
 
# Redis (default local setup)
REDIS_HOST=redis-11257.c100.us-east-1-4.ec2.redns.redis-cloud.com
REDIS_PORT=11257
REDIS_PASSWORD=EqmvnyoLdi4TMDMKAx1jQlr3ijyxDzq4
 
# WhatsApp Business API (need to get these from Meta)
WHATSAPP_ACCESS_TOKEN=EAAT1Y0Uy8skBPBqls9o1qT208WhIfVwWiGm7rt1fUYAzQnFZB40azTyssHSJXktKh9uQeSQELsZCp6ZBhGW8uACaYQufAJWQuh21yICmg6Bu7Hx5bFdtqsyoT5Dqb3d52w7NFuqAZCk5NauABdZBToEvcejJ5qYq7YiDinxeolmQZBBv01ZC0JVQewQ4dcJ7vOnRcpP9LT5ZBn0itrWpKLDSP4omrWoqg0p0jmKxyZCCEbQZDZD
WHATSAPP_PHONE_NUMBER_ID=743525355502037
WHATSAPP_APP_ID=1395706618376905
WHATSAPP_VERIFY_TOKEN=valakthedefiler1234567890@
WHATSAPP_BUSINESS_ACCOUNT_ID=693908000307256
 
# Server configuration
PORT=3001
CLIENT_URL=http://localhost:8080
 
# Environment
NODE_ENV=development
 
# Authentication
JWT_SECRET=a3260dc60530707a42f904fc730f4e53a025e601b2cbc06707def5da35ddb778
SESSION_SECRET=your-session-secret-change-this-in-production
 
# Google OAuth
GOOGLE_CLIENT_ID=582907769928-faponugui7kpt67qav6i0k9fphaq3f3l.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
 
# GitHub OAuth
GITHUB_CLIENT_ID= Ov23liHsC6ZuhwHq0NpB
GITHUB_CLIENT_SECRET=ed473299eb3fed97ccfaa9a6e6d2a4d72b8070f7
 
# Microsoft Graph API variables
AZURE_TENANT_ID=964255db-deb8-471a-aee2-f90f24b70796
AZURE_CLIENT_ID=e86453d7-6bef-497f-a193-937c0845d7c7
AZURE_CLIENT_SECRET=Fxq8Q~cAxYe7qe.dGed3sMn~x9ezYtuOgWE1ccGE
SENDER_EMAIL=support@trizenventures.com
 
# n8n Integration
N8N_RESPONSE_WEBHOOK_URL=https://n8ndeployed.llp.trizenventures.com/webhook/whatsapp-response
 
 
# #Twilio
# TWILIO_ACCOUNT_SID=AC7a53668f0c6025b3d01f63960a4295f2
# TWILIO_AUTH_TOKEN=22cfbb8fc00c93300c5042fa5ca69003
# TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886